<template>
  <div class="channels">
    <p><a href="#" class="btn btn-primary" @click.prevent="openModalFormChannel()">Add channel</a></p>

    <table class="table table-striped">
      <thead>
        <tr>
          <td>Name</td>
          <td>Author</td>
          <td width="1"></td>
          <td width="1"></td>
        </tr>
      </thead>
      <tbody>
        <tr v-for="channel in channels">
          <td><a :href="`https://www.youtube.com/channel/${channel.id}`" target="_blank">{{channel.name}}</a></td>
          <td>{{channel.author}}</td>
          <td><a href="#" @click.prevent="openModalFormChannel(channel)">Update</a></td>
          <td><a href="#" @click.prevent="deleteChannel(channel)" class="text-danger">Delete</a></td>
        </tr>
      </tbody>
    </table>

    <div id="modal-form-channel" class="modal fade" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">New channel</h4>
          </div>
          <div class="modal-body">
            <form>
              <p><i><span class="text-danger">*</span> Campos obrigatórios</i></p>
              <div class="form-group">
                <label for="input-channel-id">ID <span class="text-danger">*</span></label>
                <input type="text" class="form-control" id="input-channel-id" placeholder="ID" v-model="newChannel.id">
              </div>
              <div class="form-group">
                <label for="input-channel-name">Name <span class="text-danger">*</span></label>
                <input type="text" class="form-control" id="input-channel-name" placeholder="Name" v-model="newChannel.name">
              </div>
              <div class="form-group">
                <label for="input-channel-author">Author</label>
                <input type="text" class="form-control" id="input-channel-author" placeholder="Author" v-model="newChannel.author">
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            <button type="button" class="btn btn-success" @click.prevent="setChannel">Save</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import DB from '../firebase'

let channelsRef = DB.ref('channels')

export default {
  name: 'channels-table',
  firebase: {
    channels: channelsRef
  },
  data() {
    return {
      newChannel: {
        id: '',
        name: '',
        author: ''
      }
    }
  },
  methods: {
    setChannel() {
      if (this.validationChannelForm(this.newChannel)) {
        var data = {}
        data[this.newChannel.id] = this.newChannel
        channelsRef.update(data)
          .then(() => {
            alert('Dados adicionados com sucesso!')
            this.resetChannelForm()
          })
          .catch(err => console.log(err))

      } else {

        alert('Preencha os campos obrigatórios!')

      }
    },
    deleteChannel(channel) {
      var r = confirm('Deseja realmente excluir?')

      if (r) {
        channelsRef.child(channel['.key']).remove()
      }
    },
    openModalFormChannel(channel) {
      if (channel) {
        this.newChannel = channel
      }
      $('#modal-form-channel').modal('show')
    },
    resetChannelForm() {
      this.newChannel.id = ''
      this.newChannel.name = ''
      this.newChannel.author = ''
    },
    validationChannelForm(channel) {
      if (channel.id === '' || channel.name === '' || channel.id === undefined || channel.name === undefined) {
        return false
      }

      return true
    }
  }
}
</script>
