<template>
<div class="home">
  <div class="page-header">
    <h1>{{title}}</h1>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3>Channels</h3>
    </div>

    <div class="panel-body">
      <channels-table></channels-table>
    </div>
  </div>

</div>
</template>

<script>
import ChannelsTable from './ChannelsTable'

export default {
  name: 'home',
  components: {
    ChannelsTable
  },
  data() {
    return {
      title: 'Youtube channels for developers'
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
